@mixin full {
  position: absolute;
  inset: 0;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.app {
  @include full;

  .instructions {
    margin: 1rem;
  }

  .video {
    position: relative;
    left: 50%;
    width: min-content;
    // margin: 1rem;
    outline: 1px solid blue;
    transform: translateX(-50%);

    &-player {
      width: calc(177.77vh - 14.22rem);
      max-width: calc(100vw - 4rem);
      height: calc(100vh - 12rem);
    }

    &-controls {
      position: absolute;
      bottom: 2rem;
      width: 1rem;
      height: 1rem;
      outline: 1px solid green;

      &-playpause {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
        background:black;
      }
    }

    &-controls {
      position: absolute;
      bottom: 2rem;
      width: 100%;;
      height: 2rem;
      outline: 1px solid green;

      &-playpause {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2rem;
        height: 2rem;
        border: none;
        background: transparent url('assets/play.svg') no-repeat center;
        cursor: pointer;
      }
    }

    &-timeline {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2rem;
      background: rgba(0, 0, 0, .5);
      // outline: 3px solid black;

      &-progress {
        position: absolute;
        height: 100%;
        background-color: rgba(255, 255, 255, .5);
      }

      &-markers {
        width: 100%;
        height: 100%;
        postion: absolute;

        &-marker {
          position: absolute;
          top: 0;
          width: .5rem;
          height: calc(100% - 6px);
          border: 3px solid red;
          cursor: pointer;
          pointer-events: none;
          transform: translateX(-50%);

          &.small {
            top: 50%;
            width: 0;
            height: 50%;
            transform: translateY(-50%);
          }

          &.playing {
            border-color: green;
            border-right: none;
          }

          &.idle {
            border-left: none;
          }
        }
      }
    }

    &-graph {
      position: absolute;
      right: 0;
      bottom: 2rem;
      display: flex;
      width: 7rem;
      height: 7rem;
      align-items: flex-end;
      justify-content: space-evenly;
      margin: 1rem;
      background: rgba(255, 255, 255, .8);
      outline: 1px solid green;

      &-bar {
        // position: absolute;
        bottom: 0;
        width: 3rem;
        // height: 25%;

        &.playing {
          background-color: green;
        }

        &.idle {
          // height: 75%;
          background-color: red;
        }
      }

    }
  }

}

.disabled {
  opacity: .5;
  pointer-events: none;
}
